.barralato {
  width: 30%;
  height: 500px;
  background: grey;
}

.bottone {
  width: 150px;
  height: 150px;
  position: relative;
  left: 100px;
}

.bottone.roma {
  background: red;
}

.bottone.milano {
  background: green;
}

.bottone.firenze {
  background: yellow;
}
